body {
  color: #706c6e;
  font-family: Tahoma, Arial, sans-serif;
}

h1 {
  color: #7ab2c1;
  font-size: 22px;
  line-height: 28px;
  font-weight: bold;
  margin: 0 0 10px;
  text-align: center;
}

p {
  font-size: 14px;
  line-height: 19px;
  margin: 0 0 15px;
}

article p, article h1 {
  color: #444;
  text-align: left;
}
