body {
  font-family: Tahoma, Arial, sans-serif;
}

article {
  color: #444;
}

h1 {
  font-size: 22px;
  font-weight: bold;
  margin: 0 0 10px;
}

p {
  font-size: 14px;
  line-height: 19px;
  margin: 0 0 15px;
}
