body {
  color: #706c6e;
  font-family: Tahoma, Arial, sans-serif;
}

article h1 {
  text-align: left;
}

h1 {
  color: #7ab2c1;
  font-size: 22px;
  line-height: 28px;
  font-weight: bold;
  margin: 0 0 10px;
  text-align: center;
}

p {
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 15px;
}

p.history {
  background: #e0e2e6;
  min-height: 140px;
  width: 260px;
  padding: 10px;
}
